 #unity-canvas {
     margin: 0 auto;
 }

 body {
     text-align: center;
     background-color: rgb(15, 15, 15);
 }

 p {
     color: #fff;
 }

 h2 {
     font-size: 48px;
     color: #ffe1e1;
     letter-spacing: 2px;

 }

 .canvas-container {
     display: flex;
     justify-content: center;
     background-color: black;
     width: 100%;
 }

 .circle-container {
     display: flex;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .circle {
     border-radius: 150px;
     width: 150px;
     /* ボタンの幅を設定 */
     margin-right: 10px;
     margin-left: 10px;
     height: 150px;
     cursor: pointer;
     overflow: hidden;
     /* 余分な部分を切り取る */
     position: relative;
     text-align: center;
     margin-bottom: 0px;
     /* 円内の画像を配置するため */

 }

 .circle-image {
     width: 100%;
     height: 100%;
     object-fit: cover;
     /* 画像を円に合わせて切り取る */
 }

 .gradient3 {
     /*ボタンの形状*/
     display: inline-block;
     color: #fff;

     padding: 13px 40px;
     border-radius: 30px;
     text-decoration: none;
     outline: none;
     /*背景色*/
     background: #bc7a5e;
 }